# m h  dom mon dow   command
00 * * * *  rsnapshot -c /home/rsnapshot/$HOST/rsnapshot.conf sync && rsnapshot -c /home/rsnapshot/$HOST/rsnapshot.conf hourly
00 04 * * * rsnapshot -c /home/rsnapshot/$HOST/rsnapshot.conf daily
00 02 * * 0 rsnapshot -c /home/rsnapshot/$HOST/rsnapshot.conf weekly
00 00 1 * * rsnapshot -c /home/rsnapshot/$HOST/rsnapshot.conf monthly