# This file requires tabs between elements

# Include global rsnapshot configuration
include_conf	/etc/rsnapshot.conf

logfile		/var/log/rsnapshot/{{host}}.log
lockfile	/var/run/rsnapshot/{{host}}.pid

snapshot_root	/mnt/backup/rsnapshot/{{host}}/

include		/usr/local/
exclude		/bin/
exclude		/boot/
exclude		/dev/
exclude		/lib/
exclude		/lib64/
exclude		/lost+found/
exclude		/proc/
exclude		/run/
exclude		/sbin/
exclude		/sys/
exclude		/tmp/
exclude		/usr/
exclude		/var/backups/
exclude		/var/cache/
exclude		/var/lock/
exclude		/var/run/
exclude		/var/spool/
exclude		/var/tmp/

backup		backup@{{host}}:/	./